*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;
}

a{
	color: white;
	text-decoration: none;
}
header{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(to top, #273c75 ,#ecf0f1 );

	position: relative;
}
.logo h1{
	font-size: 30px;
	font-family: 'Pacifico', cursive;
}

.logo h1 a{
	color: #e74c3c;
	font-size: 30px;
	letter-spacing: 3px;
	font-family: 'Pacifico', cursive;
}

header::before{
	content: "";
	width: 520px;
	height: 550px;
	position: absolute;
	left: 0;
	bottom: 1%;
	background-image: url('ak3.jpg');
	background-size: 100% 100%;
	background-size: cover;
	border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
	
}

nav{
	width: 100%;
	height: 10vh;
	display: flex;
	background: rgba(0,0,0,0.2);
	justify-content: space-around;
	align-items: center;
	position: absolute;

}

.logo a{
	font-size: 1.6rem;
	text-transform: uppercase;
}

.menu ul li{
	list-style: none;
	display: inline-block;
	padding: 3px 15px;
	margin: 0 4px;
	background: rgba(0,0,0,0.2);
	border-radius: 20% 20% 20% 20% / 20% 20% 20% 20%  ;
}

.menu ul li a{
	text-transform: capitalize; 
	font-size: 18px;
	font-weight: 300;
}

 ul li:hover{
	border-top: 2px solid #5dade2;
	border-bottom: 2px solid #5dade2;
}

ul li a:hover{
	color: #000;
}


.con_btn a{
	background-color: #d465ef;
	padding: 12px 26px;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 1px;
	border:1px solid transparent;
	text-transform: capitalize;
}

.con_btn a:hover{
	background:linear-gradient( to bottom, #615cfd ,#d465ef 100%);
}

.center_content{
	position: absolute;
	top: 50%;
	left: 55%;
	transform: translate(-50% ,-50%);
	text-align: center;

}

.center_content h1{
	text-transform: capitalize;
	font-size: 50px;
	font-weight: 700;
	margin-bottom: 10px;
	z-index: 1;
}

.center_content h2{
	font-size: 25px;
	font-weight: 400;
	color: #000;
	z-index: 1;
	text-transform: capitalize;
}

.center_content h1::before{
	content: "";	
	width: 80px;
	height: auto;
	border: 2px solid #e74c3c ;
	margin-top: 20px;
	position: absolute;
	top: 0;
	left:-26%;
}

.center_content h2::after{
	content: "";	
	width: 80px;
	height: auto;
	position: absolute;
	bottom: 0;
	right: -33%;
	margin-bottom: 10px;
	border: 2px solid #e74c3c ;
}
main{
	width: 100%;
	height: auto;
	position: relative;
}

.social_network{
	width: 100px;
	height: auto;
	position: absolute;
	right:5%;
	top: 40%;
	display: block;
	justify-content: center;
	align-items: center;
}

.fa_icons{
	background: linear-gradient(to bottom, #009fff, #ec2f4b);
	border-radius: 50%;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	margin: 20px 0;
}

.fa_icons:hover{
	background: linear-gradient(to bottom, #6a82fb, #fc5c7d);
}

.gridsec{
	width: 400px;
	height: 100px;
	position: absolute;
	left: 50%;
	bottom:0;
	background: transparent;
}

.gridsec h1{
letter-spacing: 10px;
font-size: 30px;
font-weight: 900;
color: #ff4d4d;
}





